* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #fff;
}

header {
  background-color: rgb(192, 173, 228);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #6441A1;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

section {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 30px;
  background-color: #6441A1;
  padding: 20px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  overflow: hidden;
}

section:hover {
  transform: translateY(-5px);
  background-color: #845EC2;
}

section a {
  color: #fff;
  text-decoration: none;
}

section img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

section p {
  margin-bottom: 20px;
  opacity: 0.8;
  color: #DEB2FF;
}

footer {
  background-color: #280D67;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}
